body {
  background: #C4EAFE;
  color: black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 5px;
}

.container, footer {
  box-sizing: border-box;
  max-width: 500px;
  margin: 40px auto;
}

.container {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.4);
}

.top {
  background: white;
  padding: 20px 30px;
}

.bottom {
  background: #E8392E;
  color: white;
  padding: 20px 30px;
}

@media (max-width: 500px) {
  .container, footer {
    max-width: 100%;
    margin: 20px;
  }
  .top, .bottom {
    padding: 20px;
  }
}

footer {
  color: #E8392E;
  text-align: center;
  font-size: 14px;
}

a {
  position: relative;
  z-index: 1;
  transition: color 0.3s;
  text-decoration: none;
  cursor: pointer;
}

footer a:link, footer a:visited {
  color: #E8392E;
  border-bottom: 2px solid #E8392E;
}

.bottom a:link, .bottom a:visited {
  color: white;
  border-bottom: 2px solid white;
}

a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  z-index: -1;
  transition: transform 0.3s;
}

footer a:after {
  background: #E8392E;
}

.bottom a:after {
  background: white;
}

a:hover:after {
  transform: scaleY(1);
}

footer a:hover {
  color: white;
}

.bottom a:hover {
  color: #E8392E;
}

button {
  border: none;
  background: transparent;
  box-shadow: none;
  color: white;
  cursor: pointer;
  fill: white;
  stroke: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 4px;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  text-align: center;
}

button:hover {
  background: rgba(255, 255, 255, 0.5);
  fill: #E8392E;
  stroke: #E8392E;
}
